@tailwind base;
@tailwind components;
@tailwind utilities;

#content::-webkit-scrollbar {
  display: none;
}

#content {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.react-calendar__tile--active {
  background: white;
  color: blue;
  font-weight: 400;
}

#gender:focus {
  border-color: blue !important;
}

#blood_type:focus {
  border-color: blue !important;
}

@media (min-width: 400px) {
  @keyframes slide-up {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-420%);
    }
  }
}

@media (min-width: 425px) {
  @keyframes slide-up {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-380%);
    }
  }
}

@media (min-width: 453px) {
  @keyframes slide-up {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-400%);
    }
  }
}
